.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.descri{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
  background: rgb(0, 0, 0);
}
.descri .titulo{
  align-items: center;
  display: flex;
}
.descri .info{
  font-size: 17px;
  padding: 17px;
  color: #fff;
}
.descri .titulo img{
  width: 43px;
  height: 43px;
}
.descri .titulo h2{
  font-size: 45px;
  color: #fff;
}
.Map{
  width: 70%;
  height: 100vh;
}
.mark{
  width: 40px;
  height: 40px;
}
.mapboxgl-marker .img{
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6px;
  border-radius: 50%;
}
.mapboxgl-marker .img:hover> div{
  transition: all ease 0.4s;
  display: flex;

}
.mapboxgl-marker .img div{
  transition: all ease 0.4s;
  margin-top: -63px;
  margin-left: 53px;
  position: relative;
  z-index: 199;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  color: white;
  background: rgb(33, 90, 76);
  border-radius: 50px;
  width: 130px;
  height: 50px;
  box-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;
}
.mapboxgl-marker .img div::after{
  position: absolute;
  margin-top: 43px;
  margin-left: -50px;
  content: "";
  width: 23px;
  height: 23px;
  transform: rotate(45deg);
  background-color: rgb(33, 90, 76);
}

@media screen and (max-width:500px) {
  .App {
    flex-direction: column;
  }
  .descri{
    width: 100%;
    height: 20%;
  }
  .Map{
    width: 100vw;
    height: 80vh;
  }
  .descri .info{
    text-align: center;
  }
}