.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.descri{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
  background: rgb(0, 0, 0);
}
.Map{
  width: 70%;
  height: 100vh;
}
.mark{
  width: 40px;
  height: 40px;
}
.mapboxgl-marker .img{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: rgba(209, 221, 38, 0.411);
}